@model CRPM.Models.WizardViewModel

</br>
</br>
</br>
</br>
<h2 style="text-align:center; padding-bottom:50px;">
    @{
        if (Model.Name == "FinalWizardPage")
        {
            @Model.Result;
        }
        else
        {
            @Model.Name;
        }
    }
</h2>

<h4 style="text-align:center; padding-bottom:20px;">
    @Model.Question
</h4>

<div class="col-md-offset-9 col-md-3">

    @{
        if (Model.Link != null)
        {
            <a href=@Model.Link class="btn btn-info" role="button" target="_blank">More information on @Model.Result</a>
        }
    }
</div>

@using (Html.BeginForm("Proceed", "Wizard", FormMethod.Get))
{
    <div class="center">
        <div id="radioButtonDiv">
            @{
                if (Model.Name != "FinalWizardPage")
                {
                    @Html.RadioButtonFor(model => model.SelectedAnswer, true, new { id = "isPermanentAddressTrue" }) @Html.Label("isPermanentAddressTrue", "Yes")
                    @Html.RadioButtonFor(model => model.SelectedAnswer, false, new { id = "isPermanentAddressFalse" }) @Html.Label("isPermanentAddressFalse", "No")
                }
            }
        </div>
    </div>

    <div class="form-actions">
        <div class="col-md-offset-9 col-md-3">
            <a href="@Url.Action("GoBack")" class="btn btn-default">
                <i class="fa fa-long-arrow-left"></i>
                Back
            </a>
            @if (Model.Name != "FinalWizardPage")
            {
                <button type="submit" class="btn btn-success">
                    Proceed
                    <i class="fa fa-check"></i>
                </button>
            }
        </div>
    </div>
                }

@section scripts
{
    <script>

        $(function () {
            document.getElementById("isPermanentAddressTrue").checked = false;
            document.getElementById("isPermanentAddressFalse").checked = false;
        });

    </script>
}
